# Source & build
Makefile
emusc/src/*.o
emusc/src/emusc
emusc/src/emusc.exe
emusc/src/*.cc~
emusc/src/*.h~
emusc/src/*.moc
emusc/src/qrc_emusc.cc

libemusc/src/*.o
libemusc/src/*.lo
libemusc/src/*.cc~
libemusc/src/*.h~

# automake
Makefile.in
emusc/compile
libemusc/compile
.deps/
.libs/
emusc/INSTALL
libemusc/INSTALL


# autoconf
emusc/autom4te.cache
emusc/aclocal.m4
emusc/config.cache
emusc/config.guess
emusc/config.h
emusc/config.h.in
emusc/config.h.in~
emusc/config.log
emusc/config.status
emusc/config.sub
emusc/configure
emusc/configure.scan
emusc/depcomp
emusc/install-sh
emusc/missing
emusc/stamp-h1
emusc/configure~

libemusc/autom4te.cache
libemusc/aclocal.m4
libemusc/config.cache
libemusc/config.guess
libemusc/config.h
libemusc/config.h.in
libemusc/config.h.in~
libemusc/config.log
libemusc/config.status
libemusc/config.sub
libemusc/configure
libemusc/configure.scan
libemusc/depcomp
libemusc/install-sh
libemusc/missing
libemusc/stamp-h1
libemusc/configure~

# libtool
libemusc/ltmain.sh
libemusc/libtool
libemusc/m4
libemusc/src/libemusc.la
