# Source & build
emusc/src/*.o
emusc/src/emusc
emusc/src/emusc.exe
emusc/src/*.cc~
emusc/src/*.h~
emusc/Makefile

libemusc/src/*.o
libemusc/src/*.cc~
libemusc/src/*.h~
libemusc/Makefile

# automake
emusc/Makefile.in
emusc/compile
libemusc/Makefile.in
libemusc/compile
.deps/
.libs/

# autoconf
emusc/autom4te.cache
emusc/aclocal.m4
emusc/config.cache
emusc/config.guess
emusc/config.h
emusc/config.h.in
emusc/config.log
emusc/config.status
emusc/config.sub
emusc/configure
emusc/configure.scan
emusc/depcomp
emusc/install-sh
emusc/missing
emusc/stamp-h1

libemusc/autom4te.cache
libemusc/aclocal.m4
libemusc/config.cache
libemusc/config.guess
libemusc/config.h
libemusc/config.h.in
libemusc/config.log
libemusc/config.status
libemusc/config.sub
libemusc/configure
libemusc/configure.scan
libemusc/depcomp
libemusc/install-sh
libemusc/missing
libemusc/stamp-h1

